torch --extra-index-url https://download.pytorch.org/whl/cu116
torch-scatter -f https://data.pyg.org/whl/torch-1.13.0+cu116.html
torch-sparse -f https://data.pyg.org/whl/torch-1.13.0+cu116.html
torchvision --extra-index-url https://download.pytorch.org/whl/cu116
matplotlib
numpy
scikit_learn
scipy
torch_geometric
tensorboard
pandas
pycorruptor
tsdb
ipywidgets

# add jupyter notebook (?)